@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  font-family: "Alexandria";
}


*[dir='ltr'] {
  @apply font-alexandria !important;
}

.mycontainer {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.pr {
  padding-right: 5px;
}

.section{
  margin-bottom: 10rem;
}
.leading {
  line-height:1.rem
}